@import "cssreset.css";
body {
  display: grid;
  grid-template-areas: "header header" "sidebar main";
  grid-template-columns: 25% 75%;
  grid-column-gap: 20px;
  margin: 15px 50px;
}

@media only screen and (max-width: 600px) {
  body {
    grid-template-areas: "header" "sidebar" "main";
    grid-template-columns: 100%;
  }
}

#buttons {
  grid-area: header;
  justify-self: end;
}

aside {
  grid-area: sidebar;
}

aside nav {
  display: flex;
  flex-direction: column-reverse;
}

#go {
  order: 4;
}

main {
  grid-area: main;
}
